@import '../../../styles/link.scss';

.link {
    text-decoration: none;
    padding: $padding-vertical $padding-horizontal
    &--nav{
        margin: 0 $margin-horizontal
    }

    &--button{
        background-color: $link-primary;
    }
}   

